.cart-product{
    display: flex;
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
    padding: 5px 10px;
}
.cart-product img {
    max-height: 75px;
}
.cart-product .info {
    flex: 4;;
}

.cart-product label {
    flex: 1;
}