.product {
    border: 1px solid black;
    display: inline-block; /* next to each other */
    width: 250px;
    height: 320px;
    margin: 5px 7px;
    border-radius: 5px;
}
.product:hover{
    border: 2px solid red;
}
.prices {
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
}
.product img{
    width: 175px; height: 200px;
    /* padding: 5px 0; */
}

.product .controls{
    display: flex;
    justify-content: space-around;
    background-color: rgb(252, 233, 233);
    padding-bottom: 5px;
}